@model mvc.Repository.Models.Filho

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Filho</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FilhoNome" class="control-label">Insira o nome do filho</label>
                <input asp-for="FilhoNome" class="form-control" />
                <span asp-validation-for="FilhoNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilhoDatadenascimento" class="control-label">Insira data de nascimento</label>
                <input asp-for="FilhoDatadenascimento" class="form-control" />
                <span asp-validation-for="FilhoDatadenascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilhoFuncionarioPai" class="control-label">Selecione o pai</label>
                <select asp-for="FilhoFuncionarioPai" class ="form-control" asp-items="ViewBag.FilhoFuncionarioPai">
                    <option selected></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FilhoFuncionarioMae" class="control-label">Selecione a mae</label>
                <select asp-for="FilhoFuncionarioMae" class ="form-control" asp-items="ViewBag.FilhoFuncionarioMae">
                    <option selected></option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
