@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p> <a href="Funcionarios" >Funcionarios</a></p>
    <p> <a href="Filhoes">Filhos</a></p>
</div>
